includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - config
    ignoreErrors:
            - identifier: missingType.generics
            - identifier: missingType.iterableValue
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    noEnvCallsOutsideOfConfig: false
